* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 30px;
    width: bold;
    float: left;
    font-family: comic sans-ms;
    font-weight: bold;
    color: #6DC5D1;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #6DC5D1; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    transition: ease-in-out;
    background-color: #6DC5D1;
    border-radius: 15px;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.img-content {
    width: 350px;
    height: 50%;
    border-radius: 300px;
}

.image {
    width: 350px;
    height: 50%;
    border-radius: 300px;

}
.kolom {
    margin-top: 50px;
    margin-bottom: 50px;

}

.kolom .first {
    font-size: 30px;
    font-weight: bold;
    font-family: 'comic sans-ms';
    color: #6DC5D1;
    text-align: right;
    margin-top: 100px;
}

.kolom .judul {
    font-size: 30px;
    font-weight: bold;
    font-family: 'comic sans-ms';
    color: #6DC5D1;
    text-align: left;
    margin-top: 75px;
}

h2 {
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #6DC5D1;
    width: 100%;
    line-height: 50px;
    text-align: right;
}

p {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    text-align: right;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #000000;
    text-align: left;
    margin-top: 25px;
    justify-items: left;
    border-bottom: 1px solid#6DC5D1;
    justify-content: left;
}